* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
    --nav-blue: #2872b0;
    --bg-color: #eaefef;
    --btn-lg-blue: #3bb9c9;
    --btn-drk-blue: #094576;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--bg-color);
}

ul, li {
    padding: 0;
    margin: 0;
}

.app {
    height: 100%;
    padding: 0;
    margin: 0;
}

.top-header {
    background-color: var(--nav-blue);
    color: #FFF;
    padding: 0;
    margin: 0;
}

nav ul {
    margin: 0;
    list-style: none;
}

nav ul li {
    padding: .8em;
    font-size: 1.7rem;
}

nav ul li:hover {
    cursor: pointer;
    background-color: var(--btn-drk-blue);
}

nav ul li a {
    text-decoration: none;
    color: #FFF;
}

.logo {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.logo div {
    background-color: var(--btn-drk-blue);
    font-size: 3.3rem;
    font-family: Brush Script MT, Brush Script Std, cursive;
    height: 100%;
    padding: 0px .5em;
}

.row {
    display: flex;
    flex-direction: row;
}

.row-center {
    justify-content: center;
}
.row-end {
    justify-content: flex-end;
}

.col-1 { width: 10%; }
.col-2 { width: 20%; }
.col-3 { width: 30%; }
.col-4 { width: 40%; }
.col-5 { width: 50%; }
.col-6 { width: 60%; }
.col-7 { width: 70%; }
.col-8 { width: 80%; }
.col-9 { width: 90%; }
.col-10 { width: 100%; }

.badge {
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 1px 20px;
    color: #FFF;
    text-align: center;
    margin: auto 10px;
    
}

.pending { background-color: #6c757d; }
.needReply { background-color: var(--btn-lg-blue); }
.resolve { background-color: #198754; }


.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container {
    width: 60%;
    height: 30%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headers {
    width: 60%;
}

.x {
    width: 60%;
}


.search {
    background-color: #FFF;
    padding: .5em;
}

.search-options {
    display: flex;
    justify-content: center;

    border-right: 1px solid #cecece;
    margin-right: 5px;
}
.search-options select {
    border: 0;
    font-size: 1.7rem;
}

.search-options select:focus {
    outline: none;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-box input[type="text"] {
    border: 0;
    font-size: 1.9rem;
}

.search-box input[type="text"]:focus {
    outline: none;
}

.button {
    border-radius: 3px;
    background-color: #ebf0f1;
    font-size: 1.3rem;
    font-weight: bold;
    
    color: #a1a6af;
    padding: 10px;
    margin: 5px;
}

.button + .custom {
    background-color: var(--btn-lg-blue);
    color: #FFF;
}



.title {
    color: #94989e;
    margin: .5em;
    font-size: 2.8rem;
    font-weight: 600;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-support-request a {
    font-size: 1.5rem;
    color: #88a6bd;
    font-weight: 900;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    color: var(--nav-blue);
    font-weight: bolder;
}
.page-navigation {
    justify-content: center;
    align-items: center;
}
.page-navigation-back {
    background-color: #FFF;
    padding: 0.5em 0.8em;
    font-weight: 900;
    font-size: 1.3rem;
    margin-right: 5px;
}

.page-navigation-next {
    background-color: #FFF;
    padding: 0.5em 0.8em;
    font-weight: 900;
    font-size: 1.3rem;
}

.page-navigation-back:hover, 
.page-navigation-next:hover {
    background-color: var(--nav-blue);
    color: #FFF;
    cursor: pointer;
}



.headers ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
    font-size: 1.3rem;
    font-weight: 600;

    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.center {
    text-align: center;
}


.divider {
    height: 2px;
    width: 100%;
    opacity: .3;
    border-bottom: 1px solid #b7b7b7;
    /* box-shadow: 10px 10px 10px #b7b7b7; */
    margin-top: 10px;
}

.data-row {
    padding: 20px;
    font-size: 1.5rem;
    background-color: #FFF;
    margin-bottom: 10px;

    align-items: center;
}

.view-button {
    background-color: var(--nav-blue);
    border-radius: 3px;
    font-weight: bold;
    color: #FFF;
    padding: 8px 10px;
    text-align: center;
    width: 50%;
}

.view-button:hover {
    background-color: var(--btn-lg-blue);
    cursor: pointer;
}