body {
    background-color: #cecece;
    height: 100%;
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #000;
    opacity: .5;
    height: 100%;
    width: 100%;
}

.modal {
    display: none;
    background-color: #FFF;
    
    min-height: 50%;
    max-height: 60%;
    overflow-y: auto;

    border-radius: 5px;

    width: 30%;
    position: absolute;
    /* top: 20%; */
    left: 35%;
    z-index: 2;
}

.display {
    display: block;
}

.fade-in {
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

.fade-down {
    animation: fadeDown 1s;
}

@keyframes fadeDown {
    0% { top: 0; }
    100% { top: 20%; }
}