@media screen and (max-width: 900px) {
    .box {
        background-color: #FFF;
        border-radius: 5px;
        width: 90%;
        padding: 4em;
        padding-top: 15px;
    }

    .password {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .password div:first-child input {
        width: 100%;
    }

    .password div:first-child {
        width: 50%;
        margin-right: 10px;
    }

    .password div:last-child {
        width: 40%;
    }
}

